<ul class="list-group">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col">Название</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <% @countries.each do |country| %>
    <tr>
      <td><%= country.name %></td>
      <td class="table__actions">
        <button class="btn btn-outline-success" type="submit"><i class="bi bi-pencil-fill"></i></button>
        <button class="btn btn-outline-danger" type="submit"><i class="bi bi-trash-fill"></i></button>
      </td>
    </tr>
    <% end %>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="2"><button class="btn btn-outline-success" type="submit"><i class="bi bi-plus"></i></button></td>
    </tr>
    </tfoot>
  </table>

</ul>
